<html>
<style type="text/css">
body {
    background-color: lightblue;
    
}
form{
   background-color: white;
  width: 45%;
  margin-top: 20%;
  margin-bottom: 25%;
  margin-left:25%;
  margin-right: 25%;
  
}
input[type=file] {
    border: 3px solid #555;
    
}
.button4 {border-radius: 12px;}
</style>
   <body>
   
      <form name = "form" enctype = "multipart/form-data" 
         action = "{% url "upload" %}" method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;">
            <center>  
               
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center> 
               <input type = "file" style = "margin-left:20%;" 
                  placeholder = "Picture" name = "picture" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center> 
            
               <button class="button button4" style = "border:0px;background-color:#4285F4; margin-top:8%; 
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Upload" >
                  <strong>Upload</strong>
               </button>
               
            </center>
         </div>
         
      </form>
      
   </body>
</html>